body {
  padding-top: 60px;
}

#header {
  background-color: rgb(234, 234, 234);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: 1px solid rgb(211, 211, 211);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  z-index: 2000;
}

#logout-button {
  
}

#choose-new-event-button {
  margin-right: 10px;
}


#order {
  height: calc(100vh - 60px);
  display: flex;
  align-items: stretch;
}

#product-side {
  flex: 1 1 70%;
  min-width: 0;
  position: relative;
}

#product-grid-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  background-color: rgb(238, 238, 238);
}

#no-products-message {

}

#product-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: max-content;
  column-gap: 18px;
  row-gap: 13px;
  padding: 13px;
  align-content: start;
  height: calc(100% - 26px);
  min-width: 0;
  justify-content: start;
  overflow: auto;
}

.product-container {
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: stretch;
  min-height: 95px;
  min-width: 260px;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.image-container {
  flex: 1 1 40%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95px;
  min-width: 95px;
  max-height: 150px;
  max-width: 150px;
  border-radius: 0 5px 5px 0;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or contain */
  display: block;
}

.product-info {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px 8px 9px;
  min-width: 0;
  min-height: 0;
}

.product-name {
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.2;
  overflow-wrap: anywhere;
}

.product-info-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-price {
  font-weight: 700;
  white-space: nowrap;
  overflow: auto;
}

.number-selector {
  background-color: rgb(237, 237, 237);
  display: grid;
  grid-template-columns: 31fr 38fr 31fr;
  border-radius: 12px;
  align-items: stretch;
  /* padding: 1px; */
  width: 75px;
  height: 25px;
  flex-shrink: 0;
  border: 1px solid rgb(205, 205, 205);
  overflow: hidden;
}

.plus-button,
.minus-button {
  padding: 0;
  /* width: 25px;
  height: 25px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border: none;
}

.number-of-products {
  padding: 0;
  /* width: 25px;
  height: 100%; */
  min-width: 0;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  -moz-appearance: textfield; /* firefox */
}

/* remove spinner for webkit */
.number-selector input::-webkit-outer-spin-button,
.number-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#summary-side {
  background-color: pink;
  flex: 0 0 260px;
  min-width: 170;
  height: auto;
}



.event-booth-selector-centerer {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  inset: 0;
  z-index: 999;
  pointer-events: auto;
  transition: opacity 180ms ease;
}

/* #product-side.disable-children > *:not(.event-booth-selector-centerer) {
  pointer-events: none;
  filter: blur(4px);
  user-select: none;
} */

#event-selector-form-container,
#booth-selector-form-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 18px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

#event-selector-form,
#booth-selector-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#event-selector-label,
#booth-selector-label {
  font-weight: bold;
  margin-bottom: 10px;
}

#event-selector,
#booth-selector {
  height: 30px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  outline: none;
  width: 150px;
  text-overflow: ellipsis;
  cursor: pointer;
}

#submit-event-choice,
#submit-booth-choice {
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 13px;
  padding: 7px 15px;
}

#return-to-event-picker-button {
  margin-top: 10px;
  background-color: rgb(234, 234, 234);
  border: none;
  padding: 4px;
  border-radius: 2px;
  color: black;
  background-color: rgb(234, 234, 234);
}

#event-error-message,
#booth-error-message {
  padding: 11px 10px 9px;
  border-radius: 5px;
  line-height: 1.35;
  text-align: center;
  width: 200px;
}

.event-submit-error-message,
.booth-submit-error-message {
  color: rgb(194, 14, 26);
  background-color: rgb(250, 219, 221);
  padding: 11px 10px 9px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  width: 157px;
  display: none;
  margin-top: 13px;
}

.display-block {
  display: block;
}