body {
  padding-top: 60px;
}

#order {
  height: calc(100vh - 60px);
  display: flex;
  align-items: stretch;
  background-color: rgb(235, 237, 239);
}


#product-side {
  flex: 1 1 70%;
  min-width: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

#search-div {
  background-color: white;
  margin: 5px 5px 4px 10px;
  padding: 13px 20px;
  border-radius: 5px;
}

#search-bar-container {
  /* margin: 10px 20px; */
  position: relative;
  flex: 0;
  max-width: 700px;
  display: flex;
  min-width: 91px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#search-bar {
  flex: 1;
  min-width: 0;
  outline: none;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 100px;
  padding: 8px 35px 8px 9px;
}

#search-icon-container {
  position: absolute;
  right: 8px;
  top: auto;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* #search-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#search-button:active {
  background-color: rgba(0, 0, 0, 0.15);
} */

#search-icon {
  width: 18px;
  height: 18px;
  object-fit: cover;
  display: block;
}

#selectable-categories {
  display: none;
  background-color: white;
  overflow: auto;
  column-gap: 10px;
  border-radius: 5px;
  margin: 0 5px 0 10px;
  height: 50px;
  align-items: center;
  padding: 0 15px;
}

#selectable-categories.show {
  display: flex;
}

.selectable-category {
  flex: 0 0 auto;
  min-width: 40px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  border-radius: 5px;
  padding: 4px 5px;
  border: none;
  font-size: 16px;
}

.selectable-category:hover {
  background-color: rgb(236, 236, 236);
}

.selectable-category:active {
  background-color: rgb(221, 221, 221);
}

.selectable-category.selected {
  background-color: rgb(64, 64, 225);
  color: white;
}


#product-grid-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}

/* #no-products-message {

} */

#product-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-auto-rows: max-content;
  column-gap: 18px;
  row-gap: 13px;
  padding: 13px;
  align-content: start;
  height: calc(100% - 26px);
  min-width: 0;
  justify-content: start;
  overflow: auto;
}

.product-container {
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: stretch;
  min-height: 90px;
  min-width: 255px;
  border: 1px solid rgb(205, 205, 205);
  box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;

  max-width: 550px;
}

.product-container.selected-product {
  border-color: rgb(148, 148, 236);
}

.image-container {
  flex: 1 1 90px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  min-width: 90px;
  max-height: 150px;
  max-width: 150px;
  border-radius: 0 5px 5px 0;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* or contain */
  display: block;
}

.product-info {
  flex: 3 1 143px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 8px 8px 9px;
  min-width: 0;
  min-height: 0;
}

.product-name {
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.2;
  overflow-wrap: anywhere;
}

.product-info-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-price {
  font-weight: 700;
  white-space: nowrap;
  overflow: auto;
}

.number-selector {
  background-color: rgb(237, 237, 237);
  display: grid;
  grid-template-columns: 31fr 38fr 31fr;
  border-radius: 12px;
  align-items: stretch;
  /* padding: 1px; */
  width: 75px;
  height: 25px;
  flex-shrink: 0;
  border: 1px solid rgb(205, 205, 205);
  overflow: hidden;
}

.plus-button,
.minus-button {
  padding: 0;
  /* width: 25px;
  height: 25px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border: none;
}

.plus-button:hover,
.minus-button:hover {
  background-color: rgb(250, 250, 250);
}

.plus-button:active,
.minus-button:active {
  background-color: rgb(247, 247, 247);
}

.selected-product .plus-button {
  background-color: rgb(68, 68, 235);
  color: white;
}

.selected-product .plus-button:hover {
  background-color: rgb(60, 60, 237);
}

.selected-product .plus-button:active {
  background-color: rgb(50, 50, 239);
}

.selected-product .minus-button {
  color: rgb(68, 68, 235);
}

.selected-product .minus-button:hover {
  color: rgb(60, 60, 237);
}

.selected-product .minus-button:active {
  color: rgb(50, 50, 239);
}

.productQuantity {
  padding: 0;
  /* width: 25px;
  height: 100%; */
  min-width: 0;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  -moz-appearance: textfield; /* firefox */
}

/* remove spinner for webkit */
.number-selector input::-webkit-outer-spin-button,
.number-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




.event-booth-selector-centerer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.45);
  position: absolute;
  inset: 0;
  z-index: 999;
  pointer-events: auto;
  /* transition: opacity 180ms ease; */
}

/* #product-side.disable-children > *:not(.event-booth-selector-centerer) {
  pointer-events: none;
  filter: blur(4px);
  user-select: none;
} */

#event-selector-form-container,
#booth-selector-form-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 18px 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

#event-selector-form,
#booth-selector-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#event-selector-label,
#booth-selector-label {
  font-weight: bold;
  margin-bottom: 10px;
}

#event-selector,
#booth-selector {
  height: 30px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  outline: none;
  width: 150px;
  text-overflow: ellipsis;
  cursor: pointer;
}

#submit-event-choice,
#submit-booth-choice {
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  margin-top: 13px;
  padding: 7px 15px;
}

#return-to-event-picker-button {
  margin-top: 10px;
  background-color: rgb(234, 234, 234);
  border: none;
  padding: 4px;
  border-radius: 2px;
  color: black;
  background-color: rgb(234, 234, 234);
}

#event-error-message,
#booth-error-message {
  padding: 11px 10px 9px;
  border-radius: 5px;
  line-height: 1.35;
  text-align: center;
  width: 200px;
}

.event-submit-error-message,
.booth-submit-error-message {
  color: rgb(194, 14, 26);
  background-color: rgb(250, 219, 221);
  padding: 11px 10px 9px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  width: 157px;
  display: none;
  margin-top: 13px;
}

.display-block {
  display: block;
}




#summary-side {
  display: flex;
  flex-direction: column;
  flex: 0 1 260px;
  min-width: 170px;
  height: auto;
  border-radius: 5px;
  overflow: auto;
  margin: 6px 6px 8px 0;
  background-color: white;
  margin-left: 5px;
}


#customer-details {
  padding: 5px 2px 4px 4px;
  border-bottom: 1px solid rgb(232, 232, 232);
}

#customer-details-title {
  font-weight: 700;
}

#tag-id {
  font-size: 10px;
  color: gray;
  padding-left: 3px;
}

#balance {
  margin-top: 2px;
  font-size: 14px;
  padding-left: 3px;
  white-space: nowrap;
  overflow: auto;
}


#order-summary-container {
  flex: 1;
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 0;
  align-items: stretch;
  padding: 5px 5px 5px 5px;
  row-gap: 5px;
  border-bottom: 1px solid rgb(232, 232, 232);
}

#order-summary-title {
  font-weight: bold;
}

#order-summary {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 5px;
}

.summary-item-container {
  flex: 0 0 60px;
  display: flex;
  column-gap: 5px;
  border-radius: 2px;
  overflow: hidden;
  align-items: center;
  padding: 0 5px;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
}

.summary-image-container {
  flex: 0 0 17%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.summary-product-info {
  flex: 1 1 83%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px 4px 7px 4px;
  min-width: 0;
  min-height: 0;
}

.summary-product-info-top-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  height: 1.2em;
}

.summary-product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.remove-item-button {
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-item-icon {
  height: 13px;
  object-fit: cover;
  display: block;
}

.summary-product-info-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.summary-product-price {
  font-weight: 700;
  white-space: nowrap;
  overflow: auto;
  font-size: 14px;
}

.summary-number-selector {
  background-color: rgb(237, 237, 237);
  display: grid;
  grid-template-columns: 31fr 38fr 31fr;
  border-radius: 12px;
  align-items: stretch;
  /* padding: 1px; */
  width: 51px;
  height: 17px;
  flex-shrink: 0;
  border: 1px solid rgb(205, 205, 205);
  overflow: hidden;
}

.summary-plus-button,
.summary-minus-button {
  padding: 0;
  /* width: 25px;
  height: 25px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border: none;
}

.summary-plus-button:hover,
.summary-minus-button:hover {
  background-color: rgb(250, 250, 250);
}

.summary-plus-button:active,
.summary-minus-button:active {
  background-color: rgb(247, 247, 247);
}

.selected-product .summary-plus-button {
  background-color: rgb(68, 68, 235);
  color: white;
}

.selected-product .summary-plus-button:hover {
  background-color: rgb(60, 60, 237);
}

.selected-product .summary-plus-button:active {
  background-color: rgb(50, 50, 239);
}

.selected-product .summary-minus-button {
  color: rgb(68, 68, 235);
}

.selected-product .summary-minus-button:hover {
  color: rgb(60, 60, 237);
}

.selected-product .summary-minus-button:active {
  color: rgb(50, 50, 239);
}

.summary-productQuantity {
  padding: 0;
  font-size: 11px;
  /* width: 25px;
  height: 100%; */
  min-width: 0;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  -moz-appearance: textfield; /* firefox */
}

/* remove spinner for webkit */
.summary-number-selector input::-webkit-outer-spin-button,
.summary-number-selector input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#payment-summary {
  padding: 8px 12px 15px 12px;
  display: flex;
  flex-direction: column;
}

#order-cost-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* #order-cost-message {

} */

#order-cost {
  font-weight: 700;
}

#pay-button {
  background-color: rgb(68, 68, 235);
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
}

#pay-button:enabled:hover {
  background-color: rgb(54, 54, 238);
}

#pay-button:enabled:active {
  background-color: rgb(40, 40, 240);
}

#pay-button:disabled {
  opacity: 0.6;
}