__pycache__/
*.py[cod]
*$py.class
*.pyc

venv/
ENV/
env/
.venv/

build/
dist/
*.egg-info/
pip-wheel-metadata/

.coverage
htmlcov/
.coverage.*
.pytest_cache/

__pypackages__/
.mypy_cache/

.env
.env.*        # e.g. .env.local, .env.test
instance/*.db # local sqlite DBs in instance/

instance/
instance/uploads/
uploads/
*.sqlite3

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

parcel-cache/
.cache/
dist/
build/

.vscode/
*.code-workspace
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

*.log
logs/
debug.log

tmp/
temp/
*.tmp
*.swp
*.bak

*.pem
*.key
*.crt

.vagrant/
coverage/
*.cover
*.pytest_cache/

.idea/
*.iml

~$*.docx