html {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

body {
  margin: 0;
  font-family: Arial;
  flex: 1;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}


.copy-paste-message-container {
  position: fixed;
  right: 20px;
  bottom: 20px;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
  max-height: 100vh;
  overflow: hidden;
  width: 300px;
  z-index: 500;
  padding: 10px;
  /* pro shadow */
}

.copy-paste-message {
  flex: 0 0;
  flex-basis: content;
  padding: 8px;
  background-color: rgb(245, 246, 247);
  border-radius: 5px;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.25);
  max-height: 250px;
  overflow: auto;
  text-align: center;
  opacity: 1;
  transition: opacity 800ms ease;
}

.copy-paste-message.fade {
  opacity: 0;
}


.unpaste-confirmation-container {
  position: fixed;
  inset: 0;
  background: rgba(10, 12, 14, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  padding: 70px 10px 15px 10px
}

.unpaste-confirmation-modal {
  width: 100%;
  max-width: 720px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(10, 10, 10, 0.24);
  padding: 16px;
  max-height: 90vh;
  overflow: auto;
}

.cross-close {
  background: transparent;
  border: none;
  height: 22px;
  width: 22px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.cross-close:hover {
  background-color: rgb(245, 245, 245);
}

.unpaste-confirmation-modal header {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.unpaste-confirmation-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 12px
}

.cancel-unpaste,
.confirm-unpaste {
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  padding: 7px 10px;
  transition: background-color 0.2s;
}

.cancel-unpaste:hover,
.confirm-unpaste:hover {
  background-color: rgb(25, 25, 25);
}

.cancel-unpaste:active,
.confirm-unpaste:active {
  background-color: rgb(35, 35, 35);
}