html {
  min-height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

body {
  margin: 0;
  font-family: Arial;
  flex: 1;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input[type=submit] {
  cursor: pointer;
}